h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
}

div {
    border-radius: 5px;
    padding: 20px;
}
/* Background */
body {
    background-image: url("../images/what-the-hex.png");
    background-repeat: repeat;
    width: 960px;
    margin: 0 auto 0 auto;
}

.aboutmediv {
    background-image: url("../images/aboutmediv.png");
}
/* .card-opacity {
    opacity: 0.8;
} */

.collapse {
    margin-top: 20px;
}

.dropdown {
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: gray;
}

.navbar {
    background-image: url("../images/NavBackground.jpg")
}
.nav-link {
    color: rgb(11, 228, 22);
}

/* .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  } */
  


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
#submitbtn {
    background-image: url("../images/NavBackground.jpg");
 }

p {
    line-height: 1.6;
}
/* Headshot dimentions */
#headshot {
    width: 150px;
    height: 200px;
    float: left;
    margin-right: 10px;
}
/* Contact input form */
.contactinput {
    background: white;
    margin-top: 30px;
}
a {
    align-content: right;
}
/* Portfolio pics height and width */
        #Crystal {
            width: 200px;
            height: 200px;
            float: inherit;
            
        }
        #TrainSch {
            width: 200px;
            height: 200px;
        }
        #TGame {
            width: 200px;
            height: 200px;
        }
        #Giftastic {
            width: 200px;
            height: 200px;
            margin: auto;
        }
        #RPS {
            width: 200px;
            height: 200px;
        }
        img{
            margin: auto;
        }

/* Form stuff */
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 0px;
            box-sizing: border-box;
        }
        input[type=submit] {
            width: 100px;
            background-color: teal;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 0px;
            cursor: pointer;
        }
        #message, select{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 0px;
            box-sizing: border-box;
            height: 300px;
        }

/* Footer padding */
body > .container {
    padding-top: 60px; 
}
/* Footer color aqua */
.container {
    background-image: url("../images/FootBackground.jpg");
    width: 960px;
}

/* Card titles centered */
.card-title {
    text-align: center;
}
.mb-3 {
    background-image: url("../images/cardBackground.jpg");

}

/* Responsiveness */
        @media screen and (max-width: 980px) {
            body {
                width: 60%;
                margin: 0 0 0 50px;

            }
        }
        @media screen and (max-width: 768px) {
            p {
                text-align: justify;
                text-indent: 2em;
                margin: 0 auto 0 auto;
            }
            body {
                margin: auto;
                width: 80%;
            }
        }
        @media screen and (max-width: 640px) {
            #headshot {
                float: none;
                margin: 0 auto 0 auto;
            }
            h1 {
                width: 100%;
                text-align: center;
                margin: 0;
            }
        }